---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const cards = [
	{
		title		: "Info Personal",
		GCS			: 1,
		GCE			: 4,
		GRS			: 1,
		GRE			: 12,
		STYLE	: {
			background: "red"
			// "--background_card": "rgb(13 5 15 / 97%)"
		}
	},
	{
		title		: "Exp laboral",
		GCS			: 4,
		GCE			: 8,
		GRS			: 1,
		GRE			: 5,
		STYLE	: {
			"--background_card": "rgba(5, 6, 15, .97)"
		}
	},
	{
		title		: "Redes Sociales",
		GCS			: 8,
		GCE			: 11,
		GRS			: 1,
		GRE			: 5,
		STYLE	: {
			"--background_card": "rgba(5, 6, 15, .97)"
		}
	},
	{
		title		: "Proyectos",
		GCS			: 4,
		GCE			: 7,
		GRS			: 5,
		GRE			: 9,
		STYLE	: {
			"--background_card": "rgba(5, 6, 15, .97)"
		}
	},
	{
		title		: "OTros",
		GCS			: 7,
		GCE			: 11,
		GRS			: 5,
		GRE			: 9,
		STYLE	: {
			"--background_card": "rgba(5, 6, 15, .97)"
		}
	},
	{
		title		: "Lenguajes de programacion",
		GCS			: 4,
		GCE			: 11,
		GRS			: 9,
		GRE			: 12,
		STYLE	: {
			"--background_card": "rgba(5, 6, 15, .97)"
		}
	},
];
---
<Layout title="Welcome to Astro.">
	<main>
		{cards.map(card => (
			<Card 
				GCS={card.GCS} 
				GCE={card.GCE} 
				GRS={card.GRS} 
				GRE={card.GRE}
			/>
		))}
	</main>
</Layout>

<style>
	main {
		width: 100%;
		height: 98vh;
		display: grid;
		grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
		grid-gap: 0.5rem;
	}
</style>
