---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--dark-background: #05060f;
	}

	body {
		background-color: var(--dark-background);
	}

	@property --angle {
		syntax: "<angle>";
		inherits: false;
		initial-value: 0deg;
	}

	@property --background_card {
		syntax: "<color>";
		inherits: false;
		initial-value: rgba(5, 6, 15, .97);
	}

	@keyframes card_line-anim__iu92O {
		to {
			--angle: 360deg
		}
	}

	@keyframes card_line-opacity__b1ltN {
		0% {
			opacity: 0
		}

		20%,70% {
			opacity: 1
		}

		to {
			opacity: 0
		}
	}

	@keyframes card_line-opacity-loop__KzXmR {
		0% {
			opacity: .75
		}

		50% {
			opacity: 1
		}

		to {
			opacity: .75
		}
	}
</style>
